<h1>
  {{title}}
</h1>
<!--<jce-users>Looding...</jce-users>-->
<!--<jce-posts>Looding...</jce-posts>-->
<nav>
  <a routerLink = "/users">Users</a> |
  <a routerLink = "/posts">Posts</a>
</nav>
<router-outlet>  </router-outlet>
